a {
  text-decoration: none;
}

.device-description {
  &:nth-child(2n) {
    background: lightgray;
  }
  &:nth-child(2n + 1) {
    background: transparent;
  }
}

.loader {
  height: 100vh;
  width: 100vw;
}

.basket {
  &:hover {
    path {
      fill: #000 !important;
    }
  }
  position: relative;
  > div {
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    background: red;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 0.85rem;
  }
}

.remove {
  cursor: pointer;
  rect {
    transition: 0.3s all;
  }
  &:hover {
    rect {
      fill: rgb(148, 10, 10);
    }
  }
}
